
    .cont_Sing{
        position: fixed;
        width: 100%;
        height: 140vh;
        top: -15vh;
        background-color: rgba(0, 0, 0, 0.356);
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        .x{
            text-align: right;
            .icon{
                cursor: pointer;
            }
        }
        .card{
            background-color: rgba(0, 0, 0, 0.938);
            color: rgb(255, 255, 255);
            padding: 1rem;
            border-radius: 1rem;
            position: relative;
            width: 30%;
            height: 35vh;
            .title, .title_err{
                text-align: center;
            }
        }
        .cont_link{
            width: 100%;
            height: 15vh;
            text-align: center;
            input{
                height: 2vh;
                padding: .5rem;
                width: 94%;
            }
            .cont_btn{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top : 1rem;
                align-items: center;
                .btn{
                    width: 48%;
                    height:7vh;
                    border: 1px solid gold;
                    color: gold;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin: 0;
                    }
                }
                .btnTrue{
                    background-color: rgba(255, 217, 0, 0.78);
                    color: white;
                }
            }
            .send{
                width: 100%;
                height: auto;
                text-align: center;
                .btn{
                    
                    width: 100%;
                    height:7vh;
                    background: rgba(255, 217, 0, 0.78);
                    color: white;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
@media screen and (max-width:900px) {
    .cont_Sing{
        .card{
            width: 50%;
            .title_err{
                font-size: 2.5vw;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .cont_Sing{
        .card{
            width: 70%;
            .title_err{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media screen and (max-width:400px) {
    .cont_Sing{
        .card{
            width: 90%;
        }
    }
}