.root{
    width: 100%;
    .cont_user{
        width: 95%;
        background-color: rgb(16, 16, 27);
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        .user_name{
            width: 100%;
            margin: 0 auto;
            color: gold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 3vw;
            }
            div{
                text-decoration: dotted;
                cursor: pointer;
                .icon{  
                    margin-left: 10px;
                }
            }
        } 
        .info_exit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info{
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text{
                    text-align: center;
                    border: 1px solid gold;
                    padding: 1rem;
                    color: gold;
                    border-radius: 6px;
                    width: 5rem;
                    b{
                        font-size: x-large;
                    }
                    p{
                        margin: 0;
                        margin-top: 1rem;
                    }
                }
            }
            .exit{
                div{
                    cursor: pointer;
                    width: auto;
                    padding: 1rem;
                    h1{
                        margin: 0;
                        color: gold;
                        font-size: x-large;
                    }
                }
            }
        }
    }
    .history{
        color: white;
        text-align: center;
        .empty{
            margin-bottom: 100vh;
        }
    }
}
@media screen  and (max-width: 1230px){
    .root{
        .cont_user{
            .info_exit{
                .info{
                    width: 30%;
                }
            }
        }
    }
}

@media screen  and (max-width: 820px){
    .root{
        .cont_user{
            .info_exit{
                .info{
                    .text{
                    padding: .5rem;
                    }
                }
            }
        }
    }
}
@media screen  and (max-width: 710px){
    .root{
        .cont_user{
            .info_exit{
                .info{
                    width: 38%;
                }
            }
        }
    }
}
@media screen  and (max-width: 600px){
    .root{
        .cont_user{
            .info_exit{
                .info{
                    .text{
                        width: 4rem;
                        p{
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen  and (max-width: 500px){
    .root{
        .cont_user{
            .info_exit{
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 2rem;
                .info{
                    margin: 0 auto;
                    width: 50%;
                    .text{
                        width: 4rem;
                        p{
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen  and (max-width: 370px){
    .root{
        .cont_user{
            .info_exit{
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 2rem;
                .info{
                    margin: 0 auto;
                    width: 70%;
                    .text{
                        width: 4rem;
                        p{
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}