
.cont_car{
    padding:2%  4%;
    .cars{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .empy{
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .NavLink{
            text-decoration: none;
            width: 45%;
            height: 50vh;
            margin: 2.5rem auto;    
            transition: .1s;
            &:hover{
                .back{
                    background-color: rgb(161, 139, 12);
                    color: white;
                    .card_Car{
                        .info_Car{
                            .info_Card{
                                div{
                                    border: 1px solid white;
                                }
                            }
                        }
                    }
                }
            }
            .back{
                padding: 1rem;
                transition: .7s;
                border-radius: 6px;
                border: 1px solid gold;
                color: white;
                .card_Car{
                    cursor: pointer;
                    width: 100%;
                    background-color: none;
                    padding: 1%;
                    border-radius: 5px;
                    .info_Car{
                        width: 45%;
                        display: flex;
                        position: relative;
                        z-index: 2;
                        .info_Card{
                            width: 100%;
                            margin: 0 4%;
                            div{
                                border: 1px solid GOLD;
                                border-radius: 5px;
                                width: 100%;
                                height: 4rem;
                                margin: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;       

                                }
                                h1{
                                    margin:25% 0;
                                }
                            }
                            p{
                                margin: 1% 0;
                                text-align: center;
                            }
                        }
                    }
                    .car_img1{
                        width: 70%;
                        height: 25vh;
                        margin-left: auto;
                        margin-right: 3rem;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                            color: white;
                        }
                    }
                    .sum{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        position: relative;
                        z-index: 3;
                        .name{
                            h1{
                                margin: 0;
                                text-align: left;
                                font-weight: 500;
                            }
                            p{
                                margin: 0;
                                font-size: large;
                            }
                        }
                        .sum_text{
                            text-align: right;
                            p{
                                margin: 0;
                            }
                            h3{
                                margin: 0;
                                font-size: x-large;
                            }
                        }
                        
                    }
                }
            }        
        }   
    }
}
@media screen and (max-width: 1125px){
    
    .cont_car{
        .cars{
            .NavLink{
                width: 90%;
                .back{
                    .card_Car{
                        .info_Car{
                            .info_Card{
                                div{
                                    width: 80%;
                                    img{
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        
}
@media screen and (max-width: 600px) {
    
    .cont_car{
    .cars{
        .NavLink{
            width: 90%;
            .back{
                .card_Car{
                    .info_Car{
                        .info_Card{
                            div{
                                width: 80%;
                                height: 3rem;
                                img{
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
        
    
}
@media screen and (max-width: 570px) {
   
    .cont_car{
        .cars{
            .NavLink{
                width: 100%;
                .back{
                    .card_Car{
                        .sum{
                            .name{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                h1{
                                    font-size: medium;
                                }
                                p{
                                    font-size: small;
                                }
                            }
                            .sum_text{
                                h3{
                                    font-size: medium;
                                }
                                p{
                                    font-size: small;
                                }
                            }
                        }
                        .info_Car{
                            .info_Card{
                                div{
                                    h1{
                                        font-size: large;
                                    }
                                }
                                p{
                                    font-size: small;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
@media screen and(max-width: 384px){
    
    .cont_car{
        .cars{
            .NavLink{
                width: 90%;
                .back{
                    .card_Car{
                        .sum{
                            display: block;
                            text-align: left;
                            .sum_text{
                                margin-top: .7rem;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
        
}